// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import "../node_modules/bootstrap/scss/functions";

// 2. Include any default variable overrides here
$link-decoration: none;

// 3. Include remainder of required Bootstrap stylesheets
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/variables-dark";

// 4. Include any default map overrides here
$custom-colors: (
	"farve": $cyan-400,
);

$theme-colors: map-merge($theme-colors, $custom-colors);

@import "bootstrapComponents";

// 5. Du kan lave styling her...
// Global
.top-25{
	top: 25% !important;
}
.top-30{
	top: 30% !important;
}
.top-35{
	top: 35% !important;
}
.top-40{
	top: 40% !important;
}
.top-45{
	top: 45% !important;
}
.top-55{
	top: 55% !important;
}
.top-60{
	top: 60% !important;
}
.top-65{
	top: 65% !important;
}
.top-70{
	top: 70% !important;
}
.top-75{
	top: 75% !important;
}
.ms-6{
	margin-left: 6%;
}
.ms-7{
	margin-left: 7%;
}
.ms-8{
	margin-left: 8%;
}
.ms-9{
	margin-left: 9%;
}
.ms-10{
	margin-left: 10%;
}
.ms-13{
	margin-left: 13%;
}
.ms-15{
	margin-left: 15%;
}

// Chr-styling her
.bg-front{
	background: #1C1C1C;
	height: 100vh;
}
.btn-f{
	height: 2.5rem;
	width: 7rem;
	border: #fff7ff solid;
}
.btn-f:hover{
	background: #fff7ff;
	transition: 200ms;
}
.font-front-s{
font-size: 0.8rem;
}
.front-font-b{
	font-size: 3rem;
}

// Sigurd-styling her
.navbar-toggler {
	border: none;
	outline: none;
	box-shadow: none;
}
.navbar-toggler-icon {
	background-image: url('data:image/svg+xml;charset=utf8,%3Csvg viewBox="0 0 30 30" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath stroke="rgba(255, 255, 255, 1)" stroke-width="4" stroke-linecap="butt" stroke-miterlimit="10" d="M4 7h22M4 15h22M4 23h22"/%3E%3C/svg%3E');
	width: 30px;
	height: 30px;
}

.bg-nav{
	background-color: #343a40;
}