// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import "../node_modules/bootstrap/scss/functions";

// 2. Include any default variable overrides here
$link-decoration: none;

// 3. Include remainder of required Bootstrap stylesheets
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/variables-dark";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

// 4. Include any default map overrides here
$custom-dark: #1c1c1c;

$custom-colors: (
	"farve": $cyan-400,
	"custom-dark": $custom-dark
);
$theme-colors: map-merge($theme-colors, $custom-colors);

@import "bootstrapComponents";

body{
	background-color: #1c1c1c;
	font-family: "Montserrat", sans-serif;

}
/* demo */

#frontpage-link, #service-link, #cases-link {
	transition: color 0.3s ease;
}

#frontpage-link.active, #service-link.active, #cases-link.active {
	color: #ffcc00 !important; /* This forces the color change */
}

.background-strips {
	background-image: linear-gradient(135deg, #1c1c1c 25%, #f5f5f5 25%, #f5f5f5 50%, #1c1c1c 50%, #1c1c1c 75%, #f5f5f5 75%, #f5f5f5 100%);
	background-size: 60px 60px; /* Adjust size to match stripe pattern */
	animation: strips 1s linear infinite;
}

@keyframes strips {
	0% {
		background-position: 0 0;
	}
	100% {
		background-position: 60px 0; /* Move one full stripe width */
	}
}



.scroll-animate {
	transition: transform 0.2s ease-out;
}
/* Grundlæggende styling til sektionerne */
/* Starttilstand for alle scroll-animate elementer */
.scroll-animate {
	opacity: 0; /* Skjult ved start */
	transform: translateY(20px); /* Lidt forskudt nedad */
	transition: opacity 0.6s ease-out, transform 0.6s ease-out; /* Glidende transition */
}

/* Når elementet bliver synligt */
.scroll-animate.visible {
	opacity: 1; /* Gør elementet synligt */
	transform: translateY(0); /* Flytter elementet tilbage på plads */
}



/* Global */
::-webkit-scrollbar {
	width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
	background: #1c1c1c;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #555;
}
html {
	scroll-behavior: smooth;
}
.a-hover {
	position: relative;
	transition: color 200ms ease;
	justify-content: center;
	align-items: center;
	text-align: center;
	color: #797979;
	pointer-events: auto;
}
.a-hover::before {
	 color: #fff7ff;
}
.a-hover:hover::before {
	transform: translateX(0); /* Slide in from the left on hover */
}

.a.hover:hover {
	color: #ffffff; /* Change the text color on hover */
}
.a-hover > span {
	position: relative;
	z-index: 2; /* Keep text above the white background */
}
.top-25{
	top: 25% !important;
}
.top-30{
	top: 30% !important;
}
.top-35{
	top: 35% !important;
}
.top-40{
	top: 40% !important;
}
.top-45{
	top: 45% !important;
}
.top-55{
	top: 55% !important;
}
.top-60{
	top: 60% !important;
}
.top-65{
	top: 65% !important;
}
.top-70{
	top: 70% !important;
}
.top-75{
	top: 75% !important;
}
.bottom-60{
	bottom: 60% !important;
}
.bottom-15{
	bottom: 15% !important;
}
.bottom-20{
	bottom: 20% !important;
}
.ms-6{
	margin-left: 6%;
}
.ms-7{
	margin-left: 7%;
}
.ms-8{
	margin-left: 8%;
}
.ms-9{
	margin-left: 9%;
}
.ms-10{
	margin-left: 10%;
}
.ms-11{
	margin-left: 11%;
}
.ms-12{
	margin-left: 12%;
}
.ms-13{
	margin-left: 13%;
}
.ms-15{
	margin-left: 15%;
}
.ms-20{
	margin-left: 20%;
}
.ms-23{
	margin-left: 23%;
}
.mt-8{
	margin-top: 8%;
}
.mt-10{
	margin-top: 10%;
}
.mt-13{
	margin-top: 13%;
}
.mt-15{
	margin-top: 15%;
}
.mt-20{
	margin-top:20%;
}
.mt-30{
	margin-top:30%;
}
.pt-6{
	padding-top: 6%;
}
.pt-7{
	padding-top: 7%;
}
.pt-8{
	padding-top: 8%;
}
.pt-9{
	padding-top: 9%;
}
.pt-10{
	padding-top: 10%;
}
.pt-11{
	padding-top: 11%;
}
.pt-17{
	padding-top: 17%;
}
.pt-25{
	padding-top: 25%;
}
.w-43{
	width: 43%;
}
.w-51{
	width: 51%;
}

/* char-styling here */
.bg-front{
	background: #1C1C1C;
	height: 93vh;
}
.bg-cases{
	background: #1C1C1C;
}
.social{
	color: #ffffff;
	z-index: 1000;
}
.social:hover{
	transition: 100ms;
	color: #0d6efd;
}
.btn-f {
	height: 2.1rem;
	width: 9rem;
	border: #fff7ff solid 1px;
	color: #fff7ff;
	background: #1c1c1c; /* Default dark background color */
	position: relative;
	overflow: hidden;
	transition: color 200ms ease;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	cursor: pointer;
}
.btn-f::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #fff7ff; /* Hover background color */
	z-index: 1; /* Place it over the button background but below the text */
	transition: transform 200ms ease;
	transform: translateX(-100%); /* Start off-screen to the left */
}
.btn-f:hover::before {
	transform: translateX(0); /* Slide in from the left on hover */
}

.btn-f:hover {
	color: #1c1c1c; /* Change the text color on hover */
}
.btn-f > span {
	position: relative;
	z-index: 2; /* Keep text above the white background */
}
.font-front-s{
	font-size: 0.8rem;
	color: #636363;
}
.front-font-b{
	font-family: Montserrat;
	font-weight: bold;
}
.font-case{
	font-size: 2.5rem;
	font-family: Montserrat;
	font-weight: bold;
}
.font-drip{
	color: transparent;
	border: none;
	background: rgb(10, 83, 190);
	background: linear-gradient(90deg, rgb(60, 168, 255) 0%, rgb(5, 7, 173) 100%);
	animation: colorChange 2s linear infinite;
	background-size: 500% 500%;
	background-clip: text;
	-webkit-background-clip: text;
	text-shadow: 0 0 1.5px #117ace, 0 0 1.5px #062793;
}
.drip{
	color: #1C1C1C;
	border: none;
	background: rgb(10, 82, 189);
	background: linear-gradient(90deg, rgb(32, 141, 250) 0%, rgb(6, 46, 178) 100%);
	animation: colorChange 4s linear infinite;
	background-size: 200% 200%;
	box-shadow: 0 0 5px rgb(52, 120, 220); /* Initial glow */
}
.box-container{
	bottom: 0rem;
}
.arrow-box {
	height: 2.5rem;
	width: 2.5rem;
	border: #858585 solid 1px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.arrow {
	width: 0;
	height: 0;
	border-left: 8px solid transparent;
	border-right: 8px solid transparent;
	border-top: 12px solid #858585;
	transition: border-top-color 0.2s ease; /* Smooth transition for color change */
}

.arrow-box:hover {
	border: #ffffff solid 1px;
}

.arrow-box:hover .arrow {
	border-top-color: #ffffff; /* Change arrow color to white on hover */
	animation: pew 0.5s ease-in-out infinite; /* Create a pulsing effect on hover */
}
@keyframes pew {
	0% {
        transform: translateY(-8px);
		opacity: 0;
    }
    100% {
        transform: translateY(8px);
		opacity: 1;
    }

}
.box-s{
	height: 3rem;
	width: 3rem;
	border: #2b579c solid 2px;
	pointer-events: none;
}
.box-b{
	height: 4rem;
	width: 4rem;
	border: #2b579c solid 2px;
	pointer-events: none;
}
.box-front{
	height: 15rem;
	width: 15rem;
	border: #683690 solid 2px;
}
.box-s,
.box-b {
	position: absolute;
	pointer-events: none;
	bottom: 20px;
}

/* Cases here */
.case {
	background: #1c1c1c;
	border-radius: 0;
	transition: 300ms;
	border: #d1d3d6 solid 1px;
}
.case-info {
	height: 45vh;
}
.case-header{
	border-bottom: #d1d3d6 solid 1px;
	transition: 300ms;
	background: #d1d3d6;
	position: relative;
}
.case-extra{
	background: #1c1c1c;
}
.caseinfo{
	transition: 300ms;
}
.caseinfo:hover{
	background: #2f2f2f;
	transition: 300ms;
	opacity: 1;
	cursor: pointer;
	transform: scale(1.03);
}
.case:hover {
	transform: scale(1.05);
	z-index: 3;
}
.case:hover .case-header{
	animation:short-circuit-h 2s ;
	transition: 50ms;
	border:#d1d3d6 solid 2px;
}
.case-g {
	border-radius: 0;
	transition: transform 0.3s ease, box-shadow 0.3s ease;
	border: #d1d3d6 solid 1px;
}
.case-header-g{
	border-bottom: #d1d3d6 solid 1px;
	transition: transform 0.3s ease, box-shadow 0.3s ease;
	background: #d1d3d6;

}
.case-header-g{
	background: #d1d3d6;
	position: relative;
}
.font-glitch{
	animation:short-circuit-font1 2s infinite;
	position: relative;
}
.loading{
	animation:loading 3s infinite ;
	background: #d1d3d6;
	height: 1.1rem;
	width: 0;
}
.glitch-btn{
	border: 1px solid #ffffff;
	height: 2.6rem;
	background: none;
	transition: 300ms ease-in-out;
}
.case-btn-font{
	color: #e0e0dc;
}
@keyframes loading {
	0%{
		width: 0;
	}
	25%{
		width: 40%;
	}
	100%{
		width: 60%;
	}
}
@keyframes short-circuit-p {
	0%{
		border: none;
		bottom: 0;
		top: 0;
		left: 0;
		right: 0;
		background: #d1d3d6;
	}
	10%{

	}
	14%{
		bottom: 0;
		top: 0;
		left: 0;
		right: 0;
		background: #d1d3d6;
	}
	15%{
		bottom: 0;
		top: 5rem;
		left: 10rem;
		right: 0;
		background: #d1d3d6;
	}
	16%{
		bottom: 0;
		top: 0;
		left: 0;
		right: 0;
		background: #d1d3d6;
	}
	20%{
		bottom: 0;
		top: 0;
		left: 0;
		right: 0;
		background: #d1d3d6;
	}
	21%{
		bottom: 0;
		top: -5rem;
		left: 0;
		right: 15rem;
		background: #d1d3d6;
	}
	22%{
		bottom: 0;
		top: 0;
		left: 0;
		right: 0;
		background: #d1d3d6;
	}
	50%{


	}
	55%{

	}
	60%{


	}
	100%{

	}
}
@keyframes short-circuit-h {
	0%{
		border: none;
		bottom: 0;
		top: 0;
		left: 0;
		right: 0;
		background: #d1d3d6;
	}
	10%{

	}
	14%{
		bottom: 0;
		top: 0;
		left: 0;
		right: 0;
		background: #d1d3d6;
	}
	15%{
		bottom: 0;
		top: 5rem;
		left: 10rem;
		right: 0;
		background: #d1d3d6;
	}
	16%{
		bottom: 0;
		top: 0;
		left: 0;
		right: 0;
		background: #d1d3d6;
	}
	20%{
		bottom: 0;
		top: 0;
		left: 0;
		right: 0;
		background: #d1d3d6;
	}
	21%{
		bottom: 0;
		top: -5rem;
		left: 0;
		right: 15rem;
		background: #d1d3d6;
	}
	22%{
		bottom: 0;
		top: 0;
		left: 0;
		right: 0;
		background: #d1d3d6;
	}
	50%{


	}
	55%{

	}
	60%{


	}
	100%{

	}
}
@keyframes short-circuit-font1 {
	0%{
		bottom: 0;
		top: 0;
		left: 0;
		right: 0;
	}
	10%{

	}
	14%{
		bottom: 0;
		top: 0;
		left: 0;
		right: 0;
	}
	15%{
		bottom: 0;
		top: 5rem;
		left: 10rem;
		right: 0;
	}
	16%{
		bottom: 0;
		top: 0;
		left: 0;
		right: 0;
	}
	20%{
		bottom: 0;
		top: 0;
		left: 0;
		right: 0;
	}
	21%{
		bottom: 0;
		top: -5rem;
		left: 0;
		right: 15rem;
	}
	22%{
		bottom: 0;
		top: 0;
		left: 0;
		right: 0;
	}
	50%{


	}
	55%{

	}
	60%{


	}
	100%{

	}
}
/* Cases-info-here */
.case-info-img{
	object-fit: cover;
	width: 100%;
	height: 100%;
}
.impro-nav{
	backdrop-filter: blur(8px);
	background: rgba(255, 255, 255, 0);
}
.case-info {
	display: none;
}
.case-info.active {
	display: block;
}
/* animations here */
@keyframes colorChange {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;

	}
}
@keyframes grid {
	0% {
		background-position: 0% 0%;
	}

	100% {
		background-position: -25px -25px; /* Adjust this to match your grid size */
	}
}

/* Sigurd-styling her */

.text-blue{
	color: #2B589D;
}

.text-purple{
	color: #f1108e;
}

.text-red{
	color: #c10014;
}

.text-green{
	color: #48c500;
}

.navbar-toggler {
	border: none;
	outline: none;
	box-shadow: none;
	width: 30px;
	height: 30px;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	z-index: 1000; /* Ensure it's on top of other elements */
}

.navbar-toggler-icon {
	position: relative;
	width: 24px;
	height: 2px;
	background-color: white;
	transition: background-color 0.3s ease-in-out;
	z-index: 11; /* Ensure this layer is above any potential overlaps */
	background-image: none;
}

.navbar-toggler-icon::before,
.navbar-toggler-icon::after {
	content: '';
	position: absolute;
	width: 24px;
	height: 2px;
	background-color: white;
	transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
	z-index: 11; /* Ensure these lines are also above any potential overlaps */
}

.navbar-toggler-icon::before {
	top: -8px;
}

.navbar-toggler-icon::after {
	top: 8px;
}

/* Animation når menuen er åben */
.navbar-toggler.collapsed .navbar-toggler-icon {
	background-color: transparent;
}

.navbar-toggler.collapsed .navbar-toggler-icon::before {
	transform: rotate(45deg);
	top: 0;
}

.navbar-toggler.collapsed .navbar-toggler-icon::after {
	transform: rotate(-45deg);
	top: 0;
}

/* Øvrige styling */
.border-bottom-gray {
	border-bottom: 1px solid #5A5A5A; /* #ccc er en lysegrå farve */
}

.navbar img {
	max-width: 200px;
	height: auto;
	display: block; /* Sørg for, at billedet bliver vist som blok-element */
}

.navbar {
	transition: opacity 0.5s ease-in-out, top 0.5s ease-in-out;
	position: sticky;
	top: 0;
	opacity: 1;
	font-family: "Montserrat", sans-serif;
	-webkit-backdrop-filter: blur(8px);
	backdrop-filter: blur(8px);
	z-index: 1000;
}

/* Navbar hidden state */
.navbar.hidden {
	opacity: 0;
	top: -60px; /* Juster højden afhængigt af din navbar's højde */
}

.nav-link {
	font-size: 14px;
	position: relative;
	color: white; /* Default text color */
	z-index: 1; /* Ensure the text is above the background */
	overflow: hidden; /* Ensure background doesn't spill out */
	display: inline-block; /* Needed for the clip-path effect */
	transition: color 300ms ease; /* Transition for text color */
}

.nav-link::after {
	content: '';
	position: absolute;
	top: 3.5px;
	left: 0;
	width: 100%;
	height: 80%;
	background: #fff7ff; /* Hover background color */
	z-index: -1; /* Place the background behind the text */
	clip-path: polygon(0 0, 0 0, 0 100%, 0 100%); /* Start off-screen */
	transition: clip-path 300ms ease; /* Transition for background */
}

.nav-link:hover::after {
	clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%); /* Expand to cover the full element */
}

.nav-link:hover {
	color: #1c1c1c !important; /* Change the text color to black on hover */
	transition-delay: 0.1s; /* Optional: synchronize color change with background */
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
	outline: none;
	box-shadow: none;
}

.display-7 {
	font-size: 1.5rem; /* Størrelse mindre end display-6 */
	font-weight: 300; /* Lettere skriftvægt */
	line-height: 1.2;
}

.row-full-height {
	height: 100%;
}
.container-box {
	overflow: hidden;
	transition: transform 0.3s ease;
	position: relative; /* Sørg for, at containeren er relativ, så overlayet kan positioneres korrekt */
}

.img-fluid {
	width: 100%; /* Sørg for, at billedet dækker hele bredden af containeren */
	height: 500px; /* Fast højde */
	object-fit: cover; /* Sørg for, at billedet bevarer sine proportioner, mens det dækker hele containeren */
}

.container-box {
	height: 500px; /* Match containerens højde med billedets højde */
}

.overlay {
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	opacity: 0;
	transition: all 0.5s ease;
}

.container-box:hover .overlay {
	left: 0; /* Flyt overlayen ind for at dække hele boksen */
	opacity: 1;
}

.card {
	border-radius: 0;
	min-height: 320px;
	max-width: 300px;
	transition: transform 0.3s ease, box-shadow 0.3s ease;
	position: relative; /* Tilføjet for at sikre, at pseudo-elementerne er relativt placeret */
	overflow: hidden; /* Sikrer, at indholdet forbliver indenfor kortets grænser */
}

.card:hover {
	transform: translateY(-10px) scale(1.05); /* Hopper lidt op og udvider sig */
	z-index: 1000;
}

.card::before,
.card::after {
	content: '';
	position: absolute;
	transition: all 0.4s ease;
	z-index: 1;
}

.card::before {
	top: 0;
	left: 0;
	width: 0;
	height: 100%;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #fff;
}

.card::after {
	top: 0;
	left: 0;
	width: 100%;
	height: 0;
	border-left: 1px solid #fff;
	border-right: 1px solid #fff;
}

.card:hover::before {
	width: 100%;
}

.card:hover::after {
	height: 100%;
}

.max-w{
	max-width: 500px;
}

.max-w-1{
	max-width: 450px;
}
.link-hover {
	position: relative;
	color: inherit;
	transition: color 0.3s ease-in-out;
}

.link-hover::before {
	content: '';
	position: absolute;
	bottom: -5px;
	left: 0;
	width: 100%;
	height: 2px;
	background-color: #0a53be;
	transform: scaleX(0);
	transform-origin: left;
	transition: transform 0.2s ease-in-out;
}

.link-hover:hover {
	color: #0a53be;
}

.link-hover:hover::before {
	transform: scaleX(1);
}

.form__group {
	position: relative;
	padding: 15px 0 0;
	margin-top: 10px;
}
.form__field {
	font-family: inherit;
	width: 100%;
	border: 0;
	border-bottom: 1px solid white; /* Ændret fra 2px til 1px */
	outline: 0;
	font-size: 1rem;
	color: white;
	padding: 7px 0;
	background: transparent;
	transition: border-color 0.2s;

	&::placeholder {
		color: transparent;
	}

	&:placeholder-shown ~ .form__label {
		font-size: 1rem;
		cursor: text;
		top: 20px;
	}
}

.form__field:placeholder-shown~.form__label{
	font-size: 1rem;
}

.form__label {
	position: absolute;
	top: 0;
	display: block;
	transition: 0.2s;
	font-size: 1rem;
	color: white;
}

.form__field:focus {
	~ .form__label {
		position: absolute;
		top: 0;
		display: block;
		transition: 0.2s;
		font-size: .8rem;
		color: #0a53be;
		font-weight: 700;
	}
	padding-bottom: 6px;
	font-weight: 700;
	border-width: 2px; /* Justeret fra 3px til 2px for at matche en smallere kant */
	border-image: linear-gradient(to right, #0a53be, #1C1C1C);
	border-image-slice: 1;
}

/* reset input */
.form__field:required,
.form__field:invalid {
	box-shadow: none;
}

.tis{
	line-height: 1.8rem;
}

@media (min-width: 768px) {
	.translate-md-up {
		transform: translateY(-25%);
	}
}

/* Standard navbar styling */
.navbar-collapse {
	transition: transform 0.3s ease-in-out;
}

@media (max-width: 767.98px) {
	.navbar-collapse {
		position: fixed;
		top: 0;
		left: 0;
		width: 100vw;
		height: 100vh;
		background-color: #1c1c1c; /* Baggrundsfarve */
		z-index: 1000;
		transform: translateY(-100%); /* Start udenfor skærmen, skjult */
		overflow-y: auto;
		display: flex;
		justify-content: center;
		background-image: url("/uploads/bg/square-versatiles.svg");
	}

	.navbar-collapse.show {
		transform: translateY(0); /* Glider ned fra toppen */
	}

	.navbar-nav {
		flex-direction: column;
		align-items: center;
		justify-content: center;
		width: 100%;
		background-color: #131515;
	}

	.nav-link {
		text-align: center;
		width: 100%;
		color: white;
		margin-top: 1rem;
		margin-bottom: .5rem;
		font-size: x-large;

	}

	.navbar-toggler {
		z-index: 1001;
	}
}


@media (min-width: 768px) {
	.navbar-collapse {
		transform: none !important;
		position: relative;
		height: auto;
		background-color: transparent;
	}

	.navbar-nav {
		flex-direction: row;
		justify-content: flex-end; /* Flyt elementerne til højre */
		align-items: center;
		margin-left: auto; /* Skub elementerne væk fra logoet */
	}

	.nav-link {
		width: auto;
		color: white;
	}
}

/* Stil modal baggrund */
.modal-content {
	border-radius: 15px;
	border: none;
	box-shadow: 0px 15px 35px rgba(0, 0, 0, 0.2);
}

/* Tilføj en gradient til header */
.modal-header {
	background: linear-gradient(135deg, #0a53be, #002f78);
	color: white;
	border-bottom: none;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
}

/* Close-knap stil */
.modal-header .btn-close {
	background: white;
	border-radius: 50%;
	opacity: 1;
}

/* Indholdets stil */
.modal-body {
	padding: 20px;
	font-size: 1rem;
	color: #333;
	text-align: center;
}

/* Moderne knap i footeren */
.modal-footer .btn {
	background-color: #0a53be;
	color: white;
	border: none;
	border-radius: 30px;
	padding: 10px 20px;
	transition: background-color 0.3s ease;
}

/* Knap hover-effekt */
.modal-footer .btn:hover {
	background-color: #0a53be;
}

/* Stil til fejlmodal */
.modal-footer .btn-secondary {
	background-color: #6C757D;
}

.modal-footer .btn-secondary:hover {
	background-color: #5A6268;
}


.team-description{
	background-image: url("/uploads/bg/wavey-fingerprint.svg");
	height: 100%;
}
