// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import "../node_modules/bootstrap/scss/functions";

// 2. Include any default variable overrides here
$link-decoration: none;

// 3. Include remainder of required Bootstrap stylesheets
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/variables-dark";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

// 4. Include any default map overrides here
$custom-dark: #1c1c1c;

$custom-colors: (
	"farve": $cyan-400,
	"custom-dark": $custom-dark
);
$theme-colors: map-merge($theme-colors, $custom-colors);

@import "bootstrapComponents";

body{
	background-color: #1c1c1c;
	font-family: "Montserrat", sans-serif;
}


/* Global */
.top-25{
	top: 25% !important;
}
.top-30{
	top: 30% !important;
}
.top-35{
	top: 35% !important;
}
.top-40{
	top: 40% !important;
}
.top-45{
	top: 45% !important;
}
.top-55{
	top: 55% !important;
}
.top-60{
	top: 60% !important;
}
.top-65{
	top: 65% !important;
}
.top-70{
	top: 70% !important;
}
.top-75{
	top: 75% !important;
}
.bottom-60{
	bottom: 60% !important;
}
.bottom-15{
	bottom: 15% !important;
}
.bottom-20{
	bottom: 20% !important;
}
.ms-6{
	margin-left: 6%;
}
.ms-7{
	margin-left: 7%;
}
.ms-8{
	margin-left: 8%;
}
.ms-9{
	margin-left: 9%;
}
.ms-10{
	margin-left: 10%;
}
.ms-11{
	margin-left: 11%;
}
.ms-12{
	margin-left: 12%;
}
.ms-13{
	margin-left: 13%;
}
.ms-15{
	margin-left: 15%;
}
.ms-20{
	margin-left: 20%;
}
.ms-23{
	margin-left: 23%;
}
.mt-8{
	margin-top: 8%;
}
.mt-10{
	margin-top: 10%;
}
.mt-13{
	margin-top: 13%;
}
.mt-15{
	margin-top: 15%;
}
.mt-20{
	margin-top:20%;
}
.mt-30{
	margin-top:30%;
}
.pt-6{
	padding-top: 6%;
}
.pt-7{
	padding-top: 7%;
}
.pt-8{
	padding-top: 8%;
}
.pt-9{
	padding-top: 9%;
}
.pt-10{
	padding-top: 10%;
}
.pt-11{
	padding-top: 11%;
}
.pt-17{
	padding-top: 17%;
}
.pt-25{
	padding-top: 25%;
}
.w-43{
	width: 43%;
}
.w-51{
	width: 51%;
}

/* char-styling here */
.bg-front{
	background: #1C1C1C;
	height: 93vh;
}
.bg-cases{
	background: #1C1C1C;
}
.social{
	color: #ffffff;
	z-index: 1000;
}
.social:hover{
	transition: 100ms;
	color: #0d6efd;
}
.btn-f {
	height: 2.3rem;
	width: 9rem;
	border: #fff7ff solid 1px;
	color: #fff7ff;
	background: #1c1c1c; /* Default dark background color */
	position: relative;
	overflow: hidden;
	transition: color 200ms ease;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	cursor: pointer;
}
.btn-f::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #fff7ff; /* Hover background color */
	z-index: 1; /* Place it over the button background but below the text */
	transition: transform 200ms ease;
	transform: translateX(-100%); /* Start off-screen to the left */
}
.btn-f:hover::before {
	transform: translateX(0); /* Slide in from the left on hover */
}

.btn-f:hover {
	color: #1c1c1c; /* Change the text color on hover */
}
.btn-f > span {
	position: relative;
	z-index: 2; /* Keep text above the white background */
}
.font-front-s{
	font-size: 0.8rem;
	color: #636363;
}
.front-font-b{
	font-size: 3rem;
	font-family: Montserrat;
	font-weight: bold;
}
.font-case{
	font-size: 2.5rem;
	font-family: Montserrat;
	font-weight: bold;
}
.font-drip{
	color: transparent;
	border: none;
	background: rgb(218,54,212);
	background: linear-gradient(90deg, rgba(218,54,212,1) 0%, rgba(209,22,89,1) 100%);
	animation: colorChange 2s linear infinite;
	background-size: 200% 200%;
	background-clip: text;
	-webkit-background-clip: text;
	text-shadow: 0 0 1.5px #d836d2, 0 0 1.5px #cf1658;
}
.drip{
	color: #1C1C1C;
	border: none;
	background: rgb(218,54,212);
	background: linear-gradient(90deg, rgba(218,54,212,1) 0%, rgba(209,22,89,1) 100%);
	animation: colorChange 4s linear infinite;
	background-size: 200% 200%;
	box-shadow: 0 0 10px rgba(218,54,212,0.5); /* Initial glow */
}
.box-container{
	bottom: 0rem;
}
.box-s{
	height: 4rem;
	width: 4rem;
	border: #683690 solid 2px;
	pointer-events: none;
}
.box-b{
	height: 5rem;
	width: 5rem;
	border: #683690 solid 2px;
	pointer-events: none;
}
.box-front{
	height: 15rem;
	width: 15rem;
	border: #683690 solid 2px;
}
.box-s,
.box-b {
	position: absolute;
	pointer-events: none;
	bottom: 20px;
}

/* Cases here */
.img-box {
	object-fit: cover;
	width: 100%;
	opacity: 0.8;
	transition: transform 200ms ease-in-out, opacity 200ms ease-in-out, z-index 0s 200ms;
	z-index: 1;
	position: relative; /* Ensure it is positioned relative for the overlay */
}
.img-box:hover {
	transform: scale(1.1);
	z-index: 10; /* Higher z-index on hover */
	opacity: 1;
	transition: transform 200ms ease-in-out, opacity 200ms ease-in-out, z-index 0s;
}
.custom-overlay {
	position: absolute; /* Ensure overlay is absolutely positioned */
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
	align-items: center;
	justify-content: flex-start;
	transition: opacity 200ms ease-in-out;
	z-index: 11; /* Ensure the overlay is above the image */
	padding-left: 10px;
}
.custom-overlay:hover {
	opacity: 1;
}
.overlay-content {
	color: white;
	text-transform: uppercase;
	writing-mode: vertical-rl; /* Makes text vertical */
	text-orientation: mixed;
	font-size: 1.2rem; /* Slightly larger font size for visibility */
}
.project-name,
.project-date {
	margin: 0;
}
/* Cases-info-here */
.case-info-img{
	object-fit: cover;
	width: 100%;
	height: 100%;
}
.impro-nav{
	backdrop-filter: blur(8px);
	background: rgba(255, 255, 255, 0);
}
/* animations here */
@keyframes colorChange {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;

	}
}
@keyframes grid {
	0% {
		background-position: 0% 0%;
	}

	100% {
		background-position: -25px -25px; /* Adjust this to match your grid size */
	}
}

/* Sigurd-styling her */

.text-blue{
	color: #2B589D;
}

.text-purple{
    color: #f1108e;
}

.text-red{
	color: #c10014;
}

.text-green{
	color: #48c500;
}

.navbar-toggler {
	border: none;
	outline: none;
	box-shadow: none;
	width: 30px;
	height: 30px;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	z-index: 10; /* Ensure it's on top of other elements */
}

.navbar-toggler-icon {
	position: relative;
	width: 24px;
	height: 2px;
	background-color: white;
	transition: background-color 0.3s ease-in-out;
	z-index: 11; /* Ensure this layer is above any potential overlaps */
	background-image: none;
}

.navbar-toggler-icon::before,
.navbar-toggler-icon::after {
	content: '';
	position: absolute;
	width: 24px;
	height: 2px;
	background-color: white;
	transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
	z-index: 11; /* Ensure these lines are also above any potential overlaps */
}

.navbar-toggler-icon::before {
	top: -8px;
}

.navbar-toggler-icon::after {
	top: 8px;
}

/* Animation når menuen er åben */
.navbar-toggler.collapsed .navbar-toggler-icon {
	background-color: transparent;
}

.navbar-toggler.collapsed .navbar-toggler-icon::before {
	transform: rotate(45deg);
	top: 0;
}

.navbar-toggler.collapsed .navbar-toggler-icon::after {
	transform: rotate(-45deg);
	top: 0;
}

/* Øvrige styling */
.border-bottom-gray {
	border-bottom: 1px solid #5A5A5A; /* #ccc er en lysegrå farve */
}

.navbar {
	transition: opacity 0.5s ease-in-out, top 0.5s ease-in-out;
	position: sticky;
	top: 0;
	opacity: 1;
	font-family: "Montserrat", sans-serif;
	backdrop-filter: blur(10px);
	z-index: 4;
}

/* Navbar hidden state */
.navbar.hidden {
	opacity: 0;
	top: -60px; /* Juster højden afhængigt af din navbar's højde */
}

.nav-link {
	font-size: 14px;
	position: relative;
	color: white; /* Default text color */
	z-index: 1; /* Ensure the text is above the background */
	overflow: hidden; /* Ensure background doesn't spill out */
	display: inline-block; /* Needed for the clip-path effect */
	transition: color 300ms ease; /* Transition for text color */
}

.nav-link::after {
	content: '';
	position: absolute;
	top: 3.5px;
	left: 0;
	width: 100%;
	height: 80%;
	background: #fff7ff; /* Hover background color */
	z-index: -1; /* Place the background behind the text */
	clip-path: polygon(0 0, 0 0, 0 100%, 0 100%); /* Start off-screen */
	transition: clip-path 300ms ease; /* Transition for background */
}

.nav-link:hover::after {
	clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%); /* Expand to cover the full element */
}

.nav-link:hover {
	color: #1c1c1c !important; /* Change the text color to black on hover */
	transition-delay: 0.1s; /* Optional: synchronize color change with background */
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
	outline: none;
	box-shadow: none;
}

.display-7 {
	font-size: 1.5rem; /* Størrelse mindre end display-6 */
	font-weight: 300; /* Lettere skriftvægt */
	line-height: 1.2;
}

.row-full-height {
	height: 100%;
}
.container-box {
	overflow: hidden;
	transition: transform 0.3s ease;
}

.img-fluid{
	object-fit: cover !important;
	height: 400px;

}

.overlay {
	position: absolute;
	bottom: -100%; /* Start positionen lige uden for bunden */
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.6);
	opacity: 0;
	transition: all 0.5s ease;
}

.container-box:hover .overlay {
	bottom: 0; /* Flyt overlayen op til at dække hele boksen */
	opacity: 1;
}

.card {
	border-radius: 0;
	min-height: 300px;
	max-width: 300px;
	transition: transform 0.3s ease, box-shadow 0.3s ease;
	position: relative; /* Tilføjet for at sikre, at pseudo-elementerne er relativt placeret */
	overflow: hidden; /* Sikrer, at indholdet forbliver indenfor kortets grænser */
}

.card:hover {
	transform: translateY(-10px) scale(1.05); /* Hopper lidt op og udvider sig */

}

.card::before,
.card::after {
	content: '';
	position: absolute;
	transition: all 0.4s ease;
	z-index: 1;
}

.card::before {
	top: 0;
	left: 0;
	width: 0;
	height: 100%;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #fff;
}

.card::after {
	top: 0;
	left: 0;
	width: 100%;
	height: 0;
	border-left: 1px solid #fff;
	border-right: 1px solid #fff;
}

.card:hover::before {
	width: 100%;
}

.card:hover::after {
	height: 100%;
}

